[Unit]
Description=Scanner controller, and menu interface

[Service]
ExecStart=/home/dan/quickscan/sccontrol/venv/bin/python /home/dan/quickscan/sccontrol/sccontrol.py
KillMode=mixed
Restart=always
RestartSec=700ms

[Install]
WantedBy=multi-user.target